@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alice", serif;
}

:root {
  --Color-primario-1: #73bfb8;
  --Color-secundario: #6db5ae;
  --Dark-background-color: #737373;
  --Light-background-color: #feffff;
  --Dark-text-color: #2b2b2b;
  --small: 16px;
  --medium: 24px;
  --large: 28px;
  --xlg: 36px;
}

header {
  width: 100%;
  height: 10dvh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-background-color);
  color: var(--Dark-text-color);
  position: fixed;
  z-index: 1000;
}

.list_container {
  display: none;
  width: 50%;
}

.hamburgerMenu {
  width: 100%;
  text-align: end;
}

.hamburgerMenu img {
  width: 40px;
  height: 40px;
  padding-right: 1rem;
  cursor: pointer;
}

.list_container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.list_container ul li {
  text-align: center;
  transition: ease-out 0.3s;
  cursor: pointer;
}

.list_container ul li:hover {
  transform: scale(1.2);
  color: var(--Color-secundario);
}

.logo_container {
  width: 100%;
  padding-top: 0.5rem;
}

.logo_container img {
  width: 150px;
  height: 60px;
  cursor: pointer;
  padding-left: 1rem;
}

.aboutme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60dvh;
  width: 100%;
  padding-top: 3rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 60dvh;
  gap: 1.5rem;
  padding: 1rem;
}

.info-container h1 {
  font-size: var(--xlg);
}

.info-container button {
  background-color: var(--Color-secundario);
  color: var(--Dark-text-color);
  font-weight: 800;
  border-style: none;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 22px 4px rgba(115, 115, 115, 0.3);
  transition: ease-in-out 0.3s;
}

.info-container button:hover {
  transform: scale(1.1);
}

.profesionist-container {
  display: flex;
  justify-content: end;
  width: 100%;
  background-color: var(--Color-primario-1);
}

.profesionist-container img {
  width: 180px;
  height: 180px;
  border-radius: 80px 0px 0px 80px;
}
