@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alice", serif;
  text-wrap: balance;
}

:root {
  --Color-primario-1: #73bfb8;
  --Color-secundario: #6db5ae;
  --Dark-background-color: #737373;
  --Light-background-color: #feffff;
  --Dark-text-color: #2b2b2b;
  --small: 16px;
  --medium: 24px;
  --large: 28px;
  --xlg: 36px;
}

header {
  width: 100%;
  height: 15dvh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-background-color);
  color: var(--Dark-text-color);
  position: fixed;
  z-index: 1000;
}

.list_container {
  display: none;
  width: 50%;
}

.hamburgerMenu {
  width: 100%;
  text-align: end;
}

.hamburgerMenu img {
  width: 40px;
  height: 40px;
  padding-right: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}

.list_container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.list_container ul li {
  text-align: center;
  transition: ease-out 0.3s;
  cursor: pointer;
}

.list_container ul li:hover {
  transform: scale(1.2);
  color: var(--Color-secundario);
}

.logo_container {
  width: 100%;
  padding-top: 1rem;
}

.logo_container img {
  width: 150px;
  height: 60px;
  cursor: pointer;
  padding-left: 1rem;
}

/*About me Section*/

.aboutme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60dvh;
  width: 100%;
  padding-top: 5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 60dvh;
  gap: 1.5rem;
  padding: 1rem;
}

.info-container h1 {
  font-size: var(--xlg);
}

.info-container button {
  background-color: var(--Color-secundario);
  color: var(--Dark-text-color);
  font-weight: 800;
  border-style: none;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 22px 4px rgba(115, 115, 115, 0.3);
  transition: ease-in-out 0.3s;
}

.info-container button:hover {
  transform: scale(1.1);
}
/*Main section*/

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.profesionist-container {
  display: flex;
  justify-content: end;
  width: 100%;
  background-color: var(--Color-primario-1);
  border-radius: 0px 80px 80px 0px;
}

.profesionist-container img {
  width: 180px;
  height: 180px;
  background-color: pink;
  border-radius: 80px 80px 80px 80px;
}

/*Cards Services Section*/

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 1rem;
}

.card-container h2 {
  font-size: var(--large);
  padding-bottom: 1rem;
}

.info-cards {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--Color-secundario);
  border-radius: 20px;
  box-shadow: 5px 5px 22px 4px rgba(115, 115, 115, 0.3);
}

.info-cards img {
  width: 80px;
  height: 80px;
}

.info-cards button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: solid 2px var(--Dark-text-color);
  font-size: var(--small);
  cursor: pointer;
  transition: 0.3s;
}

.info-cards button:hover {
  transform: scale(1.1);
}

/*Experience Section*/

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 2rem;
  padding: 2rem;
}

.circleIcon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 1rem;
  background-color: var(--Color-secundario);
}

.experience-container h2 {
  text-align: center;
}

.experience-container article p {
  padding-top: 1rem;
}

.hands {
  width: calc(100% - 2rem);
  padding-left: 2rem;
}

.hands img {
  width: 100%;
  height: 300px;
  border-radius: 150px 0px 0px 150px;
}

/*Footer*/
footer {
  background-color: var(--Dark-text-color);
  color: var(--Light-background-color);
  text-align: center;
  padding: 20px;
}
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: var(--small);
}
.social-links li {
  display: inline;
}
.social-links a {
  color: var(--Light-background-color);
  text-decoration: none;
  font-size: var(--small);
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-links a:hover {
  color: var(--Color-primario-1);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

article {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes showImg {
  from {
    opacity: 0;
    transform: translateX(-380px);
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Termina en su posición normal */
  }
}

.profesionist-container {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: showImg;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
