@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/*.Megacontenedor{
}*/


*{
    margin: 0;
    padding: 0;
    font-family: 'Alice', serif;
    width: 100%;
    
}

/*Este es el container de la lista inicio, acerca de...*/
.container2{
    background-color: transparent;
    display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
    list-style: none;
    font-size: 20px;
    color: white;
    width: 100%;
    position: relative;

}

li{
    padding: 10px;
    margin: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*Este es la imagen principal*/

.containerimg{
    background:url("img/Header.png") no-repeat center;
    position: static;
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}



/*Seccion de informacion de nutricion con boton*/

body{
    background-image: url(img/Thalia\ Olvera\ isotipo\ sin\ fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}



.container3{
    font-size: 1rem;
    color: #2E4D72;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    
    
}
.Title{
    margin-top: 5rem;
    color: #2E4D72;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Subtitle {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #2E4D72;
    display: flex;
    justify-content: center;
    width: 100%;
   
}


.item {
    width: 30rem;
    border: medium solid;
    padding: 20px;
    margin: 20px 5px 10px 50px;
    width: 100%;
}

.item{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    
}

.containerbutton{
    width: 40rem;
    height: 13rem;
}



button{
    background-color: #2596be;
    border-radius: 30px;
    font-size: 20px;
    font-family:  'Lucida Sans Unicode';
    color: white;
    box-shadow: -10px 5px 5px 5px #417c7d;
    border: none;

   
}

button:hover {
    background-color: #e2be2c;
  
}

    
/*Seccion de planes nutricionales */

.Containernuestrosplanes{
    background-color:   #04c4cb;
    width: 100%;
} 

.contenedor {
    display: flex;
    padding: 0;
    
    
}
.caja-img1{
   
    background-image: url("img/Paquete\ Ind.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 24rem;
    height: 24rem;
    border-radius: 10px;
    color: black;
    font-size: 2.5rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  
}
.caja-img2{
    
    background-image: url("img/Paquete\ Pareja.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    width: 100%;
}
.caja-img3{
    
    background-image: url("img/Paquete\ Complet.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 2.5rem;
    color: black;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.encabezado{
    background-color: #e2be2c;
    width: 100%;

}

.subencabezado{
    background-color: white;
    font-size: 1.5rem;
    width: 100%;
}


.Secondtitle{
    background-color: #04c4cb;
    color: white;
    font-size: 4.5rem;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    width: 100%;
    
}
.Picture {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.bottom{
    background-color: #04c4cb;
    font-size: 3.3rem;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #F7F8F9;
    font-family: 'Lucida Sans Unicode';
    width: 100%;
    height: 12rem;


}

   
   
/*Aqui comienza mi pie de pagina*/

.Piedepagina{
    background-color: #0a92bc;
    margin: 0px;
    padding: 0px;
    width: 100%;

    
}
.Piedepagina .Grupo1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.Piedepagina .Grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Piedepagina .Grupo1 .box figure img{
    width: 100%;
}

.Piedepagina .Grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 2.5;
    width: 100%;
}

.Piedepagina .Grupo1 .box p{
    color: white;
    margin-bottom: 10px;
    width: 100%;
}

.Redsocial {
   display: flex;
   justify-content: space-around;
   font-size: 2.5rem;
   text-decoration: none;
   width: 100%;

}
/*Aqui comienza el formulario de dudas*/
form{
    font-size: 1.2rem;
    color: white;
    width: 100%;
}

#name {
    height: 2rem;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}
#duda {
    height: 2rem;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#Ingresesucorreo{
    height: 2rem;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#suscribirse{
    height: 4rem;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 100%;

}

#suscribirse:hover {
    background-color: #e2be2c;
    color: white;
    
  
}

.copy{
    background-color: #0a92bc;
    width: 100%;
    margin: auto;
    padding: 45px 0px;
    position: absolute;
    text-align: center;
    color: white;
}


    /*Responsive*/
/*
    @media only screen and (max-width:1400px) {
        .container2{
            width: 1024px;
            height: 1313px;
        }
        .containerimg{
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        .encabezado{
            background-color: yellow;
        }
    }



    @media only screen and (max-width:1200px) {

        .container2{
            width: 768px;
            height: auto;
        }
        .containerimg{
            background:url("img/Header.png") no-repeat center;
            height: 22.5rem;
            background-size: contain;
        }
        li{
            font-size: 1rem;
        }

       
        .encabezado{
            background-color: #FFDE59;
        
        }
    }

    @media only screen and (max-width:992px) {
        .encabezado{
            background-color: #038080;
        
        }
    }


    @media only screen and (max-width:768px) {
        .encabezado{
            background-color: #038080;
        
        }
    }

    @media only screen and (max-width:576px) {
        .encabezado{
            background-color: #038080;
        
        }
    }

    @media only screen and (max-width:320px) {
        .encabezado{
            background-color: #038080;
        
        }
    }